
 #navigationBar
 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
  }
  
  #navigationBar li {
    float: left;
  }
  
  #navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 3px solid rgb(165, 45, 45);
  }
  
  #navigationBar a:hover:not(.active) {
    background-color: #111;
  }
  
  #navigationBar .active {
    background-color: #4CAF50;
  }


#navigationBar *{
    box-sizing:border-box;
    padding:10;
    
}


    
/* background formatting */


#background { 

    width: 1500px;
    height: 10000px;
    display: block;
    position: relative;
  }

 #background::after {
    content: "";
    background:url("images/ background pics/background.jpg");
    opacity: 0.2;
    top: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

  }  

  #backgroundUnitOne { 

    width: 1500px;
    height: 10000px;
    display: block;
    position: relative;
  }

 #backgroundUnitOne::after {
    content: "";
    background:url("images/ background pics/class.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }  
  
  #backgroundUnitTwo { 

    width: 1500px;
    height: 10000px;
    display: block;
    position: relative;
  }

 #backgroundUnitTwo::after {
    content: "";
    background:url("images/ background pics/races.jpg");
    opacity: 0.2;
    top: 50px;
    left: 50px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }  

  #backgroundReferences { 

    width: 1500px;
    height: 10000px;
    display: block;
    position: relative;
  }

 #backgroundReferences::after {
    content: "";
    background:url("images/ background pics/schoolsofmagic.jpg");
    opacity: 0.2;
    top: 60px;
    left: 50px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }  

  #backgroundContact { 

    width: 1500px;
    height: 10000px;
    display: block;
    position: relative;
  }

 #backgroundContact::after {
    content: "";
    background:url("images/ background pics/charactercreation.png");
    opacity: 0.2;
    top: 150px;
    left: 180px;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }  

/* headers formatting */
  
h1{
    color:rgb(23, 21, 100);
    word-spacing: 10px;
    text-align: center;
    font-family: Neverwinter;
    text-shadow: 4px 3px rgba(71, 176, 218, 0.555);
    font-size: 60px;
}
h2{
  color:rgb(124, 32, 10);
  word-spacing: 5px;
  text-align: left;
  font-family: Neverwinter;
  text-shadow: 2px 2px rgba(180, 94, 23, 0.555);
  font-size: 30px;
}
h3{
  color:rgb(18, 78, 68);
  word-spacing: 5px;
  text-align: left;
  font-family: Neverwinter;
  text-shadow: 2px 2px rgba(7, 43, 18, 0.555);
  font-size: 30px;
}
h4{
  color:rgb(118, 9, 133);
  word-spacing: 5px;
  text-align: left;
  font-family: Neverwinter;
  text-shadow: 2px 2px rgba(40, 8, 54, 0.555);
  font-size: 30px;
}

p{
  font-family: Dungeon;
  font-size: 25px;
  background-color: rgba(55, 113, 201, 0.2);
}
li{
  font-family: Dungeon;
  font-size: 25px;
}

/* list formatting */

.lists{background-color: rgba(55, 113, 201, 0.2);
      list-style-image: url("d20.png");
}

#bigTitle{
    font-size: 42px;
    opacity: 10;
}


/* git add . */
/* git push */